@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: black;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  color: white;
}

div.divBody {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: 0;
  background-color: #121212;
  width: 100%;
  height: 80vh;
  margin: 10vh 0;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: min-content;
  z-index: 3;
}
header h1 {
  font-family: "Cinzel", serif;
  font-size: 3.3rem;
  color: #ffffff;
  padding: 1rem 1rem;
}
header img#menu {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  top: 5vh;
  right: 2%;
}

nav {
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
nav div#botonera {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 15rem;
  height: 25rem;
  background-color: #4e4e4e;
  border-radius: 1rem;
  border: 1px solid white;
  overflow: hidden;
}
nav div#botonera p#titulo {
  text-align: center;
  font-family: "Cinzel", serif;
  letter-spacing: -1px;
  color: white;
  font-size: 1.5rem;
}
nav div#botonera p#suc {
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  left: -50%;
  text-align: center;
  color: #04ca04;
}
nav div#botonera input {
  margin: -2rem 2rem;
}
nav div#botonera span.btnB {
  text-align: center;
  font-family: "Caveat", cursive;
  cursor: pointer;
  color: white;
  background-color: #503BD9;
  font-size: 1.25rem;
  letter-spacing: 2px;
  border-radius: 1rem;
  margin: -2.5rem 2rem;
  box-shadow: 3px 5px 3px 1px rgba(0, 0, 0, 0.75);
}

div#cortina {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212121;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 2;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../img/patron.jpg);
  background-repeat: repeat-x;
  max-width: 100%;
  height: 80vh;
  margin: 15vh 0 5vh 0;
  opacity: 0.35;
}

span.btn {
  font-family: "Caveat", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 0.5rem 0;
  cursor: pointer;
  color: white;
  background-color: #15118C;
  letter-spacing: 1px;
  width: 10rem;
  height: 5vh;
  font-size: 1.75rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 1px 1px white;
}

span.btn:hover {
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0);
}

#atacar {
  color: white;
  background-color: #D9043D;
}

#atacar:hover {
  background-color: #d9043d50;
}

span.logout {
  font-family: "Caveat", cursive;
  color: white;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  padding: 0 0 0.5rem 0;
}

span.logout:hover {
  color: #D9043D;
}

img.carta {
  width: 20%;
  height: 90%;
  cursor: pointer;
  transition: all 400ms ease-in;
  z-index: 1;
}

.carta:hover {
  transition: all 100ms ease-in;
  box-shadow: 0px 0px 100px #ffffffa8;
}

div.tapete {
  position: absolute;
  bottom: 15vh;
  margin: 0 5vw;
  width: 90vw;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}

.elegir {
  box-shadow: 0px 0px 35px #ffff00;
  opacity: 1;
  position: absolute;
  margin: auto 10vw;
  transform: scale(1.55);
}

div#contenedor {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  height: 50vh;
  margin: 0 0 0 40vw;
  color: white;
}
div#contenedor p {
  margin-bottom: 25%;
  font-weight: lighter;
  font-family: "Caveat", cursive;
  font-size: 1.3rem;
}
div#contenedor h3 {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  font-weight: bold;
}
div#contenedor button {
  height: 3rem;
  margin: 1rem 1rem;
}

img#imgNpc {
  position: absolute;
  top: 0%;
  right: 0;
}

button#comenzar {
  position: absolute;
  top: 30vh;
  right: 45vw;
  width: 5rem;
  height: 1rem;
}

h2 {
  font-family: "Cinzel", serif;
  font-weight: lighter;
  position: absolute;
  top: 25vh;
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
}

h4 {
  font-family: "Caveat", cursive;
  color: white;
  font-weight: lighter;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 250ms ease-out;
}

h4:hover {
  transition: all 250ms ease-in;
  color: goldenrod;
  letter-spacing: 1px;
}

p#ver {
  font-family: "Caveat", cursive;
  position: absolute;
  top: 35vh;
  width: 100vw;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
}

p#verDef {
  font-family: "Caveat", cursive;
  position: absolute;
  top: 75vh;
  width: 100vw;
  font-size: 3rem;
  text-align: center;
  transition: all 250ms ease-in;
  cursor: pointer;
}

p.selectVer:hover {
  transition: all 250ms ease-in;
  color: goldenrod;
  font-size: 3rem;
  letter-spacing: 3px;
}

div#banner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  z-index: 3;
  top: 0%;
}
div#banner p {
  font-size: 5rem;
  text-align: center;
  width: 100%;
  color: goldenrod;
}
div#banner .mover {
  visibility: hidden;
  transition: visibility 1s ease-in-out;
}

p#siguiente {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  font-weight: lighter;
  font-family: "Caveat", cursive;
  font-size: 3rem;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0%;
}

/*# sourceMappingURL=styles.css.map */
